@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Rubik:wght@300&display=swap');

html {
    scroll-behavior: smooth;
}
body {
    font-size: 1.25rem;
    line-height: 1.5;
    background: #1B2735;
    display: block;
    min-width: 320px;
    font-family: "Rubik",sans-serif;
    color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
}

#short-line{
  font-family: 'Cookie', cursive;
  font-size: 1.5rem;
}

#home{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./img/bg.jpg);
	background-size: cover;
	padding-left: 6%;
	padding-right: 5%;
	width: 100%;
  height: 100vh;
}

nav{
    background-color: rgba(0, 0, 0, 0.9);
    border-bottom: 1px solid #9276ff;
    outline: 0;
    box-shadow: 0 0 0 0.1rem rgb(117 96 199 / 50%);
}
.nav-item{
    position: relative;
    color: #9276ff;
    text-decoration: none;
}
.nav-item:hover{
    color: #9276ff;
}
.nav-item::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #9276ff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}
.nav-item:hover::before {
    visibility: visible;
    transform: scaleX(1);
}
.nav-link{
    color: white !important;
    font-weight: bold;
}
.nav-link:hover{
    color: #9276ff !important;
}
.active{
    color: #9276ff !important;
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    border: 1.5px solid #9276ff;
    border-radius: .25rem;
}
.ir {
    display: block;
    overflow: visible;
    padding: 0 0 100%;
    position: relative;
    height: 0;
    width: 100%;
}

.ir > * {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.soc {
    display: inline-block;
    list-style: none;
    margin: 0 auto;
    max-width: 100%;
}
.soc a, .soc svg {
    display: block;
}
.soc a {
    position: relative;
    height: 30px;
    width: 30px;

}
.icon-8:hover, .icon-13:hover, .icon-15:hover, .icon-17:hover,.icon-28:hover {
    border-radius: 100%;
    color: #0e1a25;
    fill: #0e1a25;
    -webkit-transform: scale(1.25);
        transform: scale(1.25);
    -webkit-transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
    transition: background-color 0.5s, -webkit-transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out;
    transition: background-color 0.5s, transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}

.icon-8 {
    color: #6ed926;
    fill: #6ed926;
}
.icon-8:hover {
    background: #6ed926;
}

.icon-13 {
    color: #26d991;
    fill: #26d991;
}
.icon-13:hover {
    background: #26d991;
}

.icon-15 {
    color: #26d9d9;
    fill: #26d9d9;
}
.icon-15:hover {
    background: #26d9d9;
}

.icon-17 {
    color: #2691d9;
    fill: #2691d9;
}
.icon-17:hover {
    background: #2691d9;
}

.icon-28 {
    color: #d9266e;
    fill: #d9266e;
}
.icon-28:hover {
    background: #d9266e;
}

@media only screen and (min-width: 750px){
    h1 {
        font-size: 4.5rem;
    }
}

.btn {
    background: transparent;
    border: 2px solid cyan;
    color: cyan;
    font-size: 1.5rem;
    font-weight: 100;
    overflow: hidden;
    padding: 1rem 2rem;
    position: relative;
    text-decoration: none;
    transition: 0.2s transform ease-in-out;
    will-change: transform;
    z-index: 0;
  }
  .btn::after {
    background-color: cyan;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: 0.2s transform ease-out;
    will-change: transform;
    z-index: -1;
  }
  .btn:hover::after {
    transform: translate(0, 0);
  }
  .btn:hover {
    border: 2px solid transparent;
    color: black;
    transform: scale(1.05);
    will-change: transform;
  }

a{
	text-decoration: none;
	color: cyan;
}


.progress {
  width: 150px;
  height: 150px;
  background: none;
  position: relative;
}

.progress::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid #eee;
  position: absolute;
  top: 0;
  left: 0;
}

.progress>span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 6px;
  border-style: solid;
  position: absolute;
  top: 0;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  border-left: 0;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  border-right: 0;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.progress .progress-value {
  position: absolute;
  top: 0;
  left: 0;
}

.rounded-lg {
  border-radius: 1rem;
}

.text-gray {
  color: #aaa;
}

div.h4 {
  line-height: 1rem;
}

.fixHeight{
  height: 100%;
}
.heading{
  color: #ffc107;
}
.subHeading{
  color: #28a745;
}
.para{
  text-align: center;
  font-size: 1rem;
  padding: 5%;
}

@media only screen and (max-width: 600px) {

  body{
    font-family: sans-serif;
  }

  #home{
    background-position-x: right;
  }

  #fixed-btn{
    bottom: 20%;
    position: absolute;
  }
  .btn{
    font-size: 1.2rem;
  }
}
